{{! Use the main layout }}
{{!< main }}

<div class="profile-container">
    <div class="profile-avatar">
        <img src="/avatar/{{user.username}}" alt="User Avatar" class="header-avatar">
    </div>
    
    <section class="profile-info">
        <h2>{{user.username}}</h2>
        <p>Member since: {{user.memberSince}}</p>
    </section>
</div>

<h2>Your {{{postNeoType}}}s</h2>
<section class="user-posts">
    
    {{#if user.posts.length}}
        <ul>
            {{#each user.posts}}
                <li>
                    <h3>{{this.title}}</h3>
                    <p>{{this.content}}</p>
                    <p><small>Posted on {{this.timestamp}}</small></p>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>You have not posted yet.</p>
    {{/if}}
</section>
